<h1>Add a New Place</h1>

<form action="/places" method="POST">
  <label for="place_name">Name of the Place:</label>
  <input type="text" id="place_name" name="place[name]">
  <button type="submit">Create Place</button>
</form>