<h1><%= @place.name %></h1>

<a href="/places">Back to Places I've Been</a>

<ul>
   <% for entry in @entries %>
    <li><%= entry.title %></li>
  <% end %>
</ul>

<!-- Link to create new entry -->
<%= link_to "New Entry", new_place_entry_path(@place) %>